/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
/* Basic settings */

/*CSS Reset*/
/* Basic settings */

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*:focus {
  outline: none;
}

html, body, main, div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: -0.03em;
}

table, th, td, tr {
  border: none;
  border-collapse: collapse;
}

.main-container {
  max-width: 800px;
}

.footer-container {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.logo {
  align-self: flex-start;
  margin: 20px auto;
}

.logo-header {
  align-self: flex-start;
  margin: auto;
  width: 400px;
  max-width: 100%;
  cursor: pointer;
}

.material-icons {
  cursor: pointer;
}

/* index.html */

/*BUG PROBABLY HERE, the initial screen is white*/
#index-bg0 {
  background: url("http://res.cloudinary.com/djv7nouxz/image/upload/v1500287109/index-bg7_nomuea.jpg") no-repeat fixed 50%;
  background-size: cover;
  color: white;
  transition: 0.3s;
}

#index-bg1 {
  background: url("http://res.cloudinary.com/djv7nouxz/image/upload/v1500287108/index-bg1_mr3ion.jpg") no-repeat fixed 50%;
  background-size: cover;
  color: white;
  transition: 0.3s;
}

#index-bg2 {
  background: url("http://res.cloudinary.com/djv7nouxz/image/upload/v1500287108/index-bg2_pi0ufl.jpg") no-repeat fixed 65%;
  background-size: cover;
  color: white;
  transition: 0.3s;
}

#index-bg3 {
  background: url("http://res.cloudinary.com/djv7nouxz/image/upload/v1500287108/index-bg3_z0po0a.jpg") no-repeat fixed 50%;
  background-size: cover;
  color: white;
  transition: 0.3s;
}

#index-bg4 {
  background: url("http://res.cloudinary.com/djv7nouxz/image/upload/v1500287108/index-bg4_sqxbi1.jpg") no-repeat fixed 50%;
  background-size: cover;
  color: white;
  transition: 0.3s;
}

#index-bg5 {
  background: url("http://res.cloudinary.com/djv7nouxz/image/upload/v1500287109/index-bg5_oflcn8.jpg") no-repeat fixed 50%;
  background-size: cover;
  color: white;
  transition: 0.3s;
}

#index-bg6 {
  background: url("http://res.cloudinary.com/djv7nouxz/image/upload/v1500287108/index-bg6_nhkscw.jpg") no-repeat fixed 100%;
  background-size: cover;
  color: white;
  transition: 0.3s;
}

#index-bg7 {
  background: url("http://res.cloudinary.com/djv7nouxz/image/upload/v1500287109/index-bg7_nomuea.jpg") no-repeat fixed 50%;
  background-size: cover;
  color: white;
  transition: 0.3s;
}

.vp-container {
  justify-content: center;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.vp-main {
  align-self: center;
  font-size: 2em;
  font-weight: 800;
  line-height: 1.2em;
}

@media (min-width: 37.5em) {
  .vp-main {
    align-self: center;
    font-size: 3em;
    font-weight: 800;
    line-height: 1.2em;
  }
}

.vp-sub {
  align-self: center;
  padding-top: 0.5em;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.2em;
}

@media (min-width: 37.5em) {
  .vp-sub {
    align-self: center;
    padding-top: 0.5em;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
  }
}

input.email-input.unfilled {
    border: 1px solid red;
}

.signup-container {
  justify-content: flex-start;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 37.5em) {
  .cta {
    font-size: 1.25em;
    line-height: 1.2em;
  }
}

.form-w-btn {
  align-self: center;
  width: 100%;
}

.email-input {
  display: inline-block;
  margin: 0;
  font-size: 0.75em;
  width: 250px;
  max-width: 60%;
  background: white;
  border: none;
  border-radius: 15px 0 0 15px;
  padding: 0.75em;
}

.login-btn {
  display: inline-block;
  position: relative;
  margin: 0;
  font-size: 0.75em;
  width: 150px;
  max-width: 30%;
  background: #0630CB;
  border: none;
  color: white;
  border-radius: 0 15px 15px 0;
  transition: all 0.4s;
  cursor: pointer;
  padding: 0.75em;
  font-weight: 700;
  letter-spacing: 0.05em;
}

@media (min-width: 37.5em) {
  .login-btn, .email-input {
    font-size: 1em;
  }
}

.login-btn:hover {
  background: #14F;
  border: none;
}

/* ask.html */

#ask {
  background-image: linear-gradient(180deg, #fff 60%, #F0F1F2 100%);
  color: black;
}

.search-container {
  justify-content: center;
  text-align: center;
}

select.search-option.unfilled {
    border: 2px solid red;
}

.searchForm {
  align-self: center;
  width: 100%;
}

.search-option {
  display: block;
  margin: auto;
  font-size: 0.75em;
  width: 50%;
  background: #fff;
  border: 2px solid black;
  font-weight: 300;
  cursor: pointer;
}

@media (min-height: 32em) {
  .search-option {
    margin-bottom: 2.5em;
  }
}

@media (min-height: 37.5em) {
  .search-option {
    font-size: 1em;
  }
}

@media (min-width: 37.5em) {
  .search-option {
    font-size: 1em;
    margin-bottom: 3em;
  }
}

.search-btn {
  display: block;
  margin: 1.75em auto auto auto;
  font-size: 0.75em;
  width: 125px;
  background: #0630CB;
  border: none;
  color: white;
  border-radius: 20px;
  transition: all 0.4s;
  cursor: pointer;
  padding: 0.55em;
  font-weight: 700;
  letter-spacing: 0.05em;
}

@media (min-height: 32em) {
  .search-btn {
    font-size: 1em;
    margin-top: 0;
  }
}

@media (min-width: 37.5em) {
  .search-btn {
    font-size: 1em;
    margin-top: 0;
  }
}

.search-btn:hover {
  background: #14F;
  border: none;
}

/* result.html */

#result {
  background-image: linear-gradient(180deg, #fff 60%, #F0F1F2 100%);
}

.main-container.result {
  height: calc(100% - 67px);
}

.result-title {
  align-self: flex-start;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.result-container {
  width: 100%;
  overflow: auto;
  justify-content: flex-start;
}

.result-list {
  width: 100%;
  display: block;
  height: auto;
}

.result-song {
  width: 100%;
  flex-direction: row;
  padding: 5px 10px;
  cursor: pointer;
}

.result-song:hover {
  background: rgba(0, 0, 0, 0.1);
}

.current-song {
  background: rgba(0, 0, 0, 0.1);
}

.result-name {
  font-size: 1.125em;
  font-weight: 800;
  line-height: 1.2em;
  padding-right: 10px;
}

@media (min-width: 37.5em) {
  .result-name {
    font-size: 1.25em;
    font-weight: 800;
    line-height: 1.2em;
    padding-right: 10px;
  }
}

.result-option {
  flex-direction: row;
  line-height: 1.2em;
  padding-left: 10px;
}

.result-detail {
  width: 100%;
  padding: 2px 10px;
}

.result-detail.sub {
  flex-direction: row;
  padding: 0;
}

.result-artist {
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1.2em;
  padding-right: 10px;
}

@media (min-width: 37.5em) {
  .result-artist {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.2em;
    padding-right: 10px;
  }
}

.result-review {

}

.result-expand {
  text-align: center;
  font-size: 0.875em;
  font-weight: 800;
  line-height: 1.2em;
  cursor: pointer;
}

@media (min-width: 37.5em) {
  .result-expand {
    text-align: center;
    font-size: 1em;
    font-weight: 800;
    line-height: 1.2em;
    cursor: pointer;
  }
}

.result-end {
  display: block;
  width: 100%;
  height: auto;
  padding: 0 10px 5px 10px;
}

.result-reset {
  display: inline-block;
  float: left;
  text-align: left;
  font-size: 0.75em;
  font-weight: 800;
  line-height: 1.2em;
}

.result-feedback {
  display: inline-block;
  float: right;
  text-align: right;
  font-size: 0.75em;
  font-weight: 800;
  line-height: 1.2em;
}

.footer-container.stream {
  background: #4B4F54;
  height: 67px;
  color: white;
}

.hidden {
  display: none;
}

.player-container {
  display: table;
  height: 60px;
  margin: auto;
  width: 100%;
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
}

.player-song {
  display: table-cell;
  vertical-align: middle;
  width: 100% - 112px;
  text-align: left;
}

.player-option {
  display: table-cell;
  vertical-align: middle;
  width: 112px;
  text-align: right;
}

.player-song-name {
  font-size: 1em;
  font-weight: 800;
  line-height: 0.1em;
}

.player-song-artist {
  font-size: 0.75em;
  font-weight: 600;
  line-height: 0.1em;
}

.player-time {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
}

#thumbdown-btn, #thumbup-btn, #more-btn, #satisfied-btn, #dissatisfied-btn {
  color: black;
  opacity: 0.54;
}

#thumbdown-btn:hover, #thumbup-btn:hover, #more-btn:hover, #satisfied-btn:hover, #dissatisfied-btn:hover {
  opacity: 0.77;
}

#thumbdown-btn-1 {
  color: #C70101;
  opacity: 1;
}

#thumbup-btn-1 {
  color: #229722;
  opacity: 1;
}

#more-btn-1 {
  color: #0630CB;
  opacity: 1;
}

#satisfied-btn-1 {
  color: #E8C507;
  opacity: 1;
}

#dissatisfied-btn-1 {
  color: black;
  opacity: 1;
}

/* Typography */

h1 {
  font-size: 1.25em;
  font-weight: 800;
  line-height: 1.2em;
}

@media (min-width: 37.5em) {
  h1 {
    font-size: 1.5em;
    font-weight: 800;
    line-height: 1.2em;
  }
}

h2 {
  font-size: 1.125em;
  font-weight: 800;
  line-height: 1.2em;
}

@media (min-width: 37.5em) {
  h2 {
    font-size: 1.25em;
    font-weight: 800;
    line-height: 1.2em;
  }
}

h3 {
  font-size: 0.875em;
  font-weight: 800;
  line-height: 1.2em;
}

@media (min-width: 37.5em) {
  h3 {
    font-size: 1em;
    font-weight: 800;
    line-height: 1.2em;
  }
}

h4 {
  font-size: 0.75em;
  font-weight: 800;
  line-height: 1.2em;
}

a:link, a:visited { /* Links maintain at black */
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #0630CB;
  cursor: pointer;
}

.material-icons {
  vertical-align: middle;
  padding: 2px;
}

.material-icons.md-24 {
  font-size: 24px;
  opacity: 0.54;
}

.material-icons.md-24-light {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
  opacity: 0.54;
}

.material-icons.md-36-light {
  font-size: 36px;
}

.material-icons.init.md-24 {
  font-size: 24px;
  opacity: 0.54;
}

.material-icons.init.md-24-light {
  font-size: 24px;
}

.material-icons.init.md-36 {
  font-size: 36px;
  opacity: 0.54;
}

.material-icons.init.md-36-light {
  font-size: 36px;
}

.material-icons.hover.md-24 {
  font-size: 24px;
  opacity: 0.54;
}

.material-icons.hover.md-24-light {
  font-size: 24px;
}

.material-icons.hover.md-36 {
  font-size: 36px;
  opacity: 0.54;
}

.material-icons.hover.md-36-light {
  font-size: 36px;
}

.material-icons:focus {
  outline: none;
}

/* Music Player */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  margin: 0;
  padding: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-sizing: content-box;
  border: none;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #0630CB;
  cursor: pointer;
  margin-top: -5px;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  box-sizing: content-box;
  border: none;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #0630CB;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  box-sizing: content-box;
  border: none;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #0630CB;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: #D1D2D1;
  border: none;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: #D1D2D1;
  border: none;
}

input[type=range]::-ms-track {
  border-color: transparent;
  color: transparent;
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: #D1D2D1;
  border: none;
}

input[type=range]::-ms-fill-lower {
  background-color: #0630CB;
  height: 7px;
}

input[type=range]::-moz-range-progress {
  background-color: #0630CB;
  height: 7px;
}

.play-pause .material-icons.hover {
  display: none;
}

.play-pause:hover .material-icons.init {
  display: none;
}

.play-pause:hover .material-icons.hover {
  display: inline-block;
}
